.info-card__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

  margin-top: 2rem;

  overflow: auto hidden;
}

/* Custom ScrollBar */
/* width */
::-webkit-scrollbar {
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue__light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 90px;
  background: var(--grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
