.navbar {
  position: fixed;
  inset: 0 auto 0 0;

  height: 100vh;
  width: min-content;

  padding: 10px;
  background: var(--blue);
}

.navbar .navbar__contents {
}

.navbar .navbar__contents p {
  color: var(--white);
}
