.navbar {
  position: fixed;
  inset: 0 auto 0 0;
  z-index: 10;

  height: 100vh;
  width: 80px;

  padding: 10px;
  background: var(--blue);
  overflow: hidden;

  transition: 0.5s;
}

.navbar .logo img {
  position: relative;
  left: 50%;

  width: 100%;
  max-width: 125px;

  transform: translateX(-50%);
}

.navbar.expanded {
  width: 195px;
}

.navbar__contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar__contents__row__icons.current {
  color: var(--white);
}

.navbar__contents__row__icons {
  display: flex;
  align-items: flex-end;
  flex-flow: row nowrap;
  gap: 1rem;

  margin: 0 1rem;

  text-decoration: none;
  color: var(--white__alpha70);

  transition: 0.3s;
}

.navbar__contents__row__icons:hover {
  color: var(--white);
  text-shadow: 0 0 5px var(--white__alpha60);
}

.navbar__contents__row__icons .menu-hamburguer {
  margin: 0 auto;
}

.navbar__contents__row__icons > span {
  position: relative;
  top: 2px;

  margin: 0;

  font-size: 1rem;

  transform-origin: left;
  animation: 0.3s Expand ease forwards;
}

.navbar__contents__row__icons mat-icon {
  font-size: 28px;
  font-weight: 100;
}

@keyframes Expand {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
