<nav class="navbar">
  <div class="navbar__contents">
    <p>Logo</p>
    <mat-icon aria-hidden="false" aria-label="Menu hamburger icon"
      >menu</mat-icon
    >
    <mat-icon aria-hidden="false" aria-label="Menu hamburger icon"
      >search</mat-icon
    >
    <mat-icon aria-hidden="false" aria-label="Menu hamburger icon"
      >star_border</mat-icon
    >
    <mat-icon aria-hidden="false" aria-label="Menu hamburger icon"
      >tune</mat-icon
    >

    <p>Menu</p>
    <p>Favorite</p>
    <p>Favorite</p>
    <p>Chat</p>
    <p>Settings</p>
    <p>Bank</p>
  </div>
</nav>
