.header {
  position: relative;

  width: 100%;
  padding: 1rem 4rem 1rem 1.5rem;

  background: var(--white);
}

.header > h2 {
  margin: 0;

  font-weight: 600;
}

.header > p {
  margin: 0;
  font-size: 14px;
  color: var(--grey);
}
