<div class="info-card__row">
  <div class="info-card">
    <h3>Situação cadastral do CPF</h3>
    <p>Consulta da Receita Federal</p>
    <div>
      <h5>Nome</h5>
      <p>Mariane de Sousa Oliveira</p>
    </div>
    <div>
      <h5>Situação do CPF</h5>
      <p>Regular</p>
    </div>
  </div>

  <div class="info-card">
    <h3>Situação cadastral do CPF</h3>
    <p>Consulta da Receita Federal</p>
    <div>
      <h5>Nome</h5>
      <p>Mariane de Sousa Oliveira</p>
    </div>
    <div>
      <h5>Situação do CPF</h5>
      <p>Regular</p>
    </div>
  </div>

  <div class="info-card">
    <h3>Situação cadastral do CPF</h3>
    <p>Consulta da Receita Federal</p>
    <div>
      <h5>Nome</h5>
      <p>Mariane de Sousa Oliveira</p>
    </div>
    <div>
      <h5>Situação do CPF</h5>
      <p>Regular</p>
    </div>
  </div>
</div>
